body {
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
}

.send_button {
    background-color: rgb(25, 135, 84);
    color: white;
    font-size: 15px;
    cursor:  pointer;
    border: none;
    border-radius: 10px;
    padding: 12px 20px;
}

.chat_input {
    flex-grow: 1;
    font-size: 15px;
    border-radius: 10px;
    border-width: 1px;
    padding: 12px 15px;
    margin-right: 10px;
}

.chat_input_container {
    display: flex;
    margin-bottom: 60px;
}

.app_container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    height: 100vh;
    margin: auto;
}

.chat_message_user {
    display: flex;
    justify-content: end;
    align-items: start;
}

.chat_message_robot {
    display: flex;
    align-items: start;
}

.chat_message_text {
    max-width: 300px;
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    padding: 15px 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.chat_message_profile {
    width: 45px;
}

.chat_message_container {
    overflow: auto;
    scrollbar-width: none;
    flex-grow: 1;
    margin-top: 20px;
}